body {
    font-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.20em;}
#page {
    max-width: 1920px;
    min-width: 1200px;
    /*margin: 10px auto 10px auto;*/
    /*padding: 20px;*/
  }
#logo {
    width: 500px;
    margin: 10px auto 25px auto;
    float: center;}

p {
    text-align: center;
    width: 600px; 
    margin: 20px auto 20px auto; 
    font-weight: normal;
    color: blue;
    background-color: black;}
h1 { 
    text-align: center;
    color: blue;}
h2 {
    text-align: center;
    color: black;
    background-color: white
}
a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;}
    a:hover, a.on {
    color: white;
    background-color: #ffffff;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #e5007f;
}
div{
  text-align: center;
  margin-top: 100px;
}

img {
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}

img:hover {
  -webkit-transform: scale(1.12,1.12);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  -moz-transform: scale(1.12,1.12);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;  
}

#contenedor_principal{
width:1024px;
height:auto;
position:relative;
margin:auto;
-webkit-transform: scale(1,1);
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 250ms;
-moz-transform: scale(1,1);
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 250ms;

}

.contenedor_imagen_texto{
width:335px;
height:auto;
position:relative;
display:inline-block;
vertical-align:top;
overflow:hidden;
  -webkit-transform: scale(1.12,1.12);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  -moz-transform: scale(1.12,1.12);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;  

}

.imagen, .texto{
width:100%;
height:auto;
position:relative;
display:inline;
}

.texto{
height:auto;
text-align:center
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
  text-align: center;
}








